- form_for comment do |f|
  = f.error_messages
  = f.hidden_field :task_id
  = f.hidden_field :user_id
  = f.text_area :description, :size => '70x10'
  %h4 プレビュー
  .wrapper
    .wmd-preview
  %p
    = f.submit '利用規約に同意してコメントする'
    - if comment.task.unsolved? and comment.task.user.id = current_user.id
      = f.submit 'コメントして自己解決', :name => 'commit_and_solve'
    = link_to '利用規約', about_terms_path, :target => '_blank'
- content_for :footer_script do
  = javascript_include_tag 'wmd/wmd'
