%li{comment_attrs(comment)}
  .commenter
    %div{good_attrs(comment)}
      %ul.good
        %li.count{:id => "comment_#{comment.id}_good"}= comment.votes.size
        %li.label Good
    .user
      %ul.user
        %li.icon=link_to image_tag(comment.user.profile_image_url), user_path(comment.user)
        %li.name=link_to comment.user.login, user_path(comment.user)
        - if logged_in? and @task.user.id == current_user.id and @task.unsolved?
          %li.correct
            - form_for comment do |f|
              = hidden_field_tag 'comment[correct]', true
              = image_submit_tag 'choice_button.gif'
        %li.thanks
          = render :partial => 'payment_button', :locals => {:task => @task, :comment => comment}
  - form_for comment.votes.new(:comment => good_comment_retweet(comment)), :html => {:id => "comment_#{comment.id}_vote_form", :style => 'display:none'} do |f|
    - if logged_in?
      .text
        = f.hidden_field :voteable_id, :id => "comment_#{comment.id}_voteable_id"
        = f.hidden_field :voteable_type, :id => "comment_#{comment.id}_voteable_type"
        = f.text_field :comment, :id => "comment_#{comment.id}_comment", :maxlength => 140
      - if logged_in?
        .button= image_submit_tag 'good_button.gif'
      - else
        .button= link_to 'Retweet', login_path
      %p.center Retweetをすることで、このタスクにGood!ポイントが加算されます
    - else
      .please_login== Retweetするには#{link_to 'Twitterでログイン', login_path}してください。
  .description~markdown comment.description
  - if logged_in? and comment.user.id == current_user.id
    %ul.loggedin
      %li.edit= link_to 'このコメントを編集', edit_comment_path(comment)
      %li.delete= link_to 'このコメントを削除', comment, :confirm => '本当に削除してよろしいですか？', :method => :delete
