%li{comment_attrs(comment)}
  .commenter
    .content
      .title
        %h4
          %a.commenter{:href => user_path(comment.user)}
            %span.icon= image_tag(comment.user.profile_image_url)
            %span.name= comment.user.login
          - if logged_in? and @task.user.id == current_user.id and @task.unsolved?
            %li.correct
              - form_for comment do |f|
                = hidden_field_tag 'comment[correct]', true
                = image_submit_tag 'choice_button.gif'
      .description~markdown comment.description
      - if logged_in? and comment.user.id == current_user.id
        %ul.loggedin
          %li.edit= link_to 'このコメントを編集', edit_comment_path(comment), :class => 'sub_button'
          %li.delete= link_to 'このコメントを削除', comment, :confirm => '本当に削除してよろしいですか？', :method => :delete, :class => 'sub_button'
