.section.post
  - form_for task do |f|
    = f.error_messages
    .section
      .label
        = f.label :title
      = f.text_field :title
    .section
      .label
        = f.label :language, '', :for => 'task_language_id'
      = select_by_model task, :language_id
    .option_toggle{:onclick => "$('#task_option').toggle()"} さらにオプションを登録
    #task_option{:style => 'display:none'}
      .section
        .label
          = f.label :license, '', :for => 'task_license_id'
          %span== （#{link_to '詳細', about_license_path}）
          %span （こだわりが無ければMIT LICENSEがオススメ）
        = select_by_model task, :license_id
      .section
        .label
          = f.label :project, '', :for => 'task_project_id'
          %span （オプション）
        = select_project task, :project_id
        %span=link_to '新規プロジェクト登録', new_project_path, :target => '_blank'
      .section
        .label
          = f.label :tag_list
          %span （","カンマ区切りで複数入力可能）
          %span （オプション）
        = f.text_field :tag_list
      .section
        .label
          = f.label :source_url
          %span （オプション）
        = f.text_field :source_url
    .section
      .label
        = f.label :description
        %span= "（#{link_to "Markdown記法", 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）"
      = f.text_area :description, :size => '70x10'
    %h4 プレビュー
    .wrapper
      .preview
    %p
      = f.submit '利用規約に同意して登録する'
      = link_to '利用規約', about_terms_path, :target => '_blank'
:javascript
- content_for :footer_script do
  = javascript_include_tag 'markedit/showdown'
  = javascript_include_tag 'markedit/markedit.lang.ja'
  = javascript_include_tag 'markedit/jquery.markedit'
  = javascript_include_tag 'mk'
