%li.clearfix{task_attrs(object)}
  .content
    .main
      %h3.title= link_to h(object.title), object
      .state
      .description
        - if object.solved?
          %dl.resolver
            %dt= t('Solver')
            %dd.clearfix
              %a.resolver{:href => user_path(object.solver)}
                %span.icon= image_tag(object.solver.profile_image_url)
                %span.name= object.solver.login
        ~ truncate(strip_tags(markdown object.description), :length => 150)
      - if object.tags.present?
        %ul.tags
          - object.tags.each do |tag|
            %li.tag=link_to h(tag.name), tasks_by_tag_path(:tag => tag.name), :class => 'button'
    .sub
      - if object.total_bounty > 0
        %dl.bounty
          %dt= t('Bounty')
          %dd
            %span= number_to_currency object.total_bounty
      .counts
        %ul.tweets
          %li.count= object.votes.size
          %li.label retweet
        %ul.comments
          %li.count= object.comments.size
          %li.label Comment
      %dl.language
        %dt= t('Programming language')
        %dd== #{link_to t("label.language.#{object.language.name}"), tasks_by_language_path(:language => object.language.name), :class => 'sub_button'}
      %dl.person
        %dt タスク登録者
        %dd
          %a{:href => user_path(object.user)}
            %span.icon= image_tag(object.user.profile_image_url)
            %span.name= object.user.login
        %dt タスク登録日時
        %dd.created_at== #{time_ago_in_words object.created_at}前
      
