.counts
  %ul.tweets
    %li.count= @task.votes.size
    %li.label= t('Retweet')
  %ul.comments
    %li.count= @task.comments.size
    %li.label= t('Comment')
.task_data
  - if @task.bounty > 0
    .section.bounty
      %dl= t('Bounty')
      %dd= number_to_currency_with_span @task.bounty
  - if @task.project
    .section.project
      %dl
        %dt このタスクのプロジェクト
        %dd
          %a{:href => project_path(@task.project)}
            %span.icon= 'icon'
            %span.name= @task.project.name
  .person.section
    %dl.person
      %dt タスク登録者
      %dd
        %a.person{:href => user_path(@task.user)}
          %span.icon=image_tag(@task.user.profile_image_url)
          %span.name=@task.user.login
.section
  %dl
    %dt 人気の言語
    %dd
      %ul
        %li FIXME!
