- title "#{tasks_title} | #{t('application.title')}"
.title
  %h2= tasks_title
- if params[:project]
  .by_project=h @project.name
- if params[:language]
  .by_language= t("label.language.#{@language.name}")
- if params[:tag]
  .by_tag= @tag.name
%div{:class => tasks_class}
  - if @tasks.empty?
    .empty
      %p 該当するコメントがありません。
      %p== 今なら目立つ！この隙に#{link_to '登録', new_task_path}すれば解決してもらえるかも！
  - else
  %ul.tasks.tasks_list
    = render :partial => 'object', :collection => @tasks
  = will_paginate(@tasks)
