- title "#{@task.title} - #{t('application.title')}"
%div{task_attrs(@task)}
  .main
    .title
      %div{good_attrs(@task)}
        %ul
          %li.count{:id => "task_#{@task.id}_good"}= @task.votes.size
      %h2= @task.title
      - form_for @task.votes.new(:comment => good_task_retweet(@task)), :html => {:id => "task_#{@task.id}_vote_form", :style => 'display:none'} do |f|
        - if logged_in?
          .text
            = f.hidden_field :voteable_id, :id => "task_#{@task.id}_voteable_id"
            = f.hidden_field :voteable_type, :id => "task_#{@task.id}_voteable_type"
            = f.text_field :comment, :id => "task_#{@task.id}_comment", :size => '140', :maxlength => 140
          - if logged_in?
            .button= image_submit_tag 'good_button.gif'
          - else
            .button= link_to 'Retweet', login_path
          %p.center Retweetをすることで、このタスクにGood!ポイントが加算されます
        - else
          .please_login== Retweetするには#{link_to 'Twitterでログイン', login_path}してください。
    %dl.information
      %dd.licence=link_to t("label.license.#{@task.license.name}"), "#{about_license_path}##{@task.license.name}"
      %dt.licence ライセンス
    .description~markdown @task.description
    - if @task.source_url.present?
      .source_url
        %h4 ソースURL
        =link_to truncate(h(@task.source_url), :length => 52), h(@task.source_url)
    %ul.tags
      - @task.tags.each do |tag|
        %li.tag=link_to h(tag.name), tasks_by_tag_path(:tag => tag.name)
    - if logged_in? and @task.user.id == current_user.id
      %ul.loggedin
        %li.edit= link_to 'このタスクを編集', edit_task_path(@task)
        %li.delete= link_to 'このタスクを削除', @task, :confirm => '本当に削除してよろしいですか？', :method => :delete
  .sub
    .information
      %dl
        %dt.language プログラム言語
        %dd.language=link_to t("label.language.#{@task.language.name}"), tasks_by_language_path(:language => @task.language.name)
        - if @task.project
          %dt.project プロジェクト
          %dd.project=link_to h(@task.project.name), @task.project
        - if @task.bounty > 0
          %dt.bounty 報奨金
          %dd.bounty
            %span= number_to_currency @task.bounty
      %ul.retweet
        %li.count= @task.votes.size
        %li.label retweet
      %ul.comment
        %li.count= @task.comments.size
        %li.label コメント
      .person
        %ul
          %li.icon=link_to image_tag(@task.user.profile_image_url), user_path(@task.user)
          %li.name=link_to @task.user.login, user_path(@task.user)
      .created_at== #{time_ago_in_words @task.created_at}前
  - unless @comments.empty?
    .section
      %h3 コメント
      %ul.comments
        = render :partial => 'comment', :collection => @comments
  = will_paginate(@comments)
  .section.post
    %h3 コメントする
    %span== （#{link_to 'Markdown記法', 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）
    %span （コメントはTwitterにも飛びます）
    - if logged_in?
      - form_for @comment do |f|
        = f.error_messages
        = f.hidden_field :task_id
        = f.text_area :description, :size => '70x10'
        %h4 プレビュー
        .wrapper
          .wmd-preview
        %p
          = f.submit '利用規約に同意してコメントする'
          - if logged_in? and @task.user.id == current_user.id and @task.unsolved?
            = f.submit 'コメントして自己解決', :name => 'commit_and_solve'
          = link_to '利用規約', about_terms_path, :target => '_blank'
    - else
      .please_login== コメントするには#{link_to 'Twitterでログイン', login_path}してください。
- content_for :footer_script do
  = javascript_include_tag 'wmd/wmd'
