- title "#{@task.title} - #{t('application.title')}"
- bread_crumb_tag({:name => t('Home'), :url => root_path}, {:name => t('Tasks'), :url => tasks_path}, {:name => @task.title})
- content_for :header_script do
  = javascript_include_tag 'http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js'
  = javascript_include_tag 'jquery.validator.messages_ja'
  :javascript
    $(function(){
      $('#new_bounty').dialog({
        autoOpen: false,
        title: '#{t('Add Bounty')}',
        modal: true,
        draggable: false,
        resizable: false,
        width: 500,
        buttons: {
          '#{t('Add')}': function() {
            if ($(this).valid()) $(this).submit()
          }
        },
      }).submit(function() {
        var f = $(this)
        $.post('/bounties', $(this).serialize(), function(data) {
          location.reload()
        })
        return false
      }).validate({
        rules: {
          'bounty[amount]': {
            required: true,
            min: 100
          }
        }
      })

      $('#add_bounty').click(function() {
        $('#new_bounty').dialog('open')
      })
    })
%div{task_attrs(@task)}
  .main
    .title
      %div{good_attrs(@task)}
        %dl
          %dt
            %span= 'Good!'
          %dd.count{:id => "task_#{@task.id}_good"}= @task.votes.size
      %h2= @task.title
      - form_for @task.votes.new(:comment => good_task_retweet(@task)), :html => {:id => "task_#{@task.id}_vote_form",:class => "tweet",  :style => 'display:none'} do |f|
        - if logged_in?
          .text
            = f.hidden_field :voteable_id, :id => "task_#{@task.id}_voteable_id"
            = f.hidden_field :voteable_type, :id => "task_#{@task.id}_voteable_type"
            = f.text_field :comment, :id => "task_#{@task.id}_comment", :size => '140', :maxlength => 140
          - if logged_in?
            .input= f.submit 'tweet'
          - else
            .input= link_to 'Retweet', login_path
          %p.center tweetをすることでGood!ポイントが加算されます
        - else
          .please_login== tweetをするには#{link_to 'Twitterでログイン', login_path}してください。
    .state
    .information
      %dl.license
        %dt= t('activerecord.attributes.task.license')
        %dd=link_to t("label.license.#{@task.license.name}"), "#{about_license_path}##{@task.license.name}", :class => 'button'
        %dt.language= t('Programming language')
        %dd.language=link_to t("label.language.#{@task.language.name}"), tasks_by_language_path(:language => @task.language.name), :class => 'button'
        %dt= 'タスク登録日時'
        %dd.created_at== #{time_ago_in_words @task.created_at}前
    .description~markdown @task.description
    - if @task.source_url.present?
      %dl.source_url
        %dt= t('activerecord.attributes.task.source_url')
        %dd=link_to truncate(h(@task.source_url), :length => 52), h(@task.source_url)
    - unless @task.tags.empty?
      %ul.tags
        - @task.tags.each do |tag|
          %li.tag=link_to h(tag.name), tasks_by_tag_path(:tag => tag.name), :class => 'button'
    - if logged_in? and @task.user.id == current_user.id
      %ul.loggedin
        %li.edit= link_to t('Edit this task'), edit_task_path(@task), :class => 'sub_button'
        %li.delete= link_to t('Delete this task'), @task, :confirm => t('Are you sure'), :method => :delete, :class => 'sub_button'
- unless @comments.empty?
  .section.comments
    %h3.title= t('Comments')
    %ul.comments
      = render :partial => 'comment', :collection => @comments
= will_paginate(@comments)
.section.post
  %h3.title= t('Comment')
  %span== （#{link_to 'Markdown記法', 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）
  %span （コメントはTwitterにも飛びます）
  - if logged_in?
    - form_for @comment do |f|
      = f.error_messages
      = f.hidden_field :task_id
      = f.text_area :description, :size => '70x10'
      #preview.comment
        .content
          .title
            %h4= t('Preview')
          .description.preview
      %p
        = f.submit '利用規約に同意してコメントする'
        - if logged_in? and @task.user.id == current_user.id and @task.unsolved?
          = f.submit 'コメントして自己解決', :name => 'commit_and_solve'
        = link_to '利用規約', about_terms_path, :target => '_blank'
  - else
    .please_login== コメントするには#{link_to 'Twitterでログイン', login_path}してください。
- content_for :footer_script do
  = javascript_include_tag 'markedit/showdown'
  = javascript_include_tag 'markedit/markedit.lang.ja'
  = javascript_include_tag 'markedit/jquery.markedit'
  = javascript_include_tag 'mk'


