- title "未解決 - #{t('application.title')}"
%h2.title 未解決
.sort
  %ul
    %li.unsolved= link_to t('activerecord.models.task'), tasks_path,:class=>'button'
    %li.wanted= link_to t('label.wanted'), wanted_tasks_path,:class=>'button'
- if @tasks.empty?
  .empty
    %p.empty 該当するタスクがありません。
    %p== 今なら目立つ！この隙に#{link_to '登録', new_task_path}すれば解決してもらえるかも！
- else
%ul.tasks.tasks_list.content
  = render :partial => 'object', :collection => @tasks
= will_paginate(@tasks)
