.section.post
  - form_for problem do |f|
    = f.error_messages
    %div.section
      %div.label
        = f.label :title
      = f.text_field :title
    %div.section
      %div.label
        = f.label :category, '', :for => 'problem_category_id'
        %span== （#{link_to '詳細', about_category_path}）
      = select_by_model problem, :category_id
    %div.section
      %div.label
        == #{f.label :tag_list}（","カンマ区切りで複数入力可能）
      = f.text_field :tag_list
    %div.section
      %div.label
        = f.label :language, '', :for => 'problem_language_id'
      = select_by_model problem, :language_id
    %div.section
      %div.label
        = f.label :license, '', :for => 'problem_license_id'
        %span== （#{link_to '詳細', about_license_path}）
      = select_by_model problem, :license_id
    %div.section
      %div.label
        = f.label :bounty
      = f.text_field :bounty
      = t('number.currency.format.unit')
    %div.section
      %div.label
        = f.label :description
        %span= "（#{link_to "Markdown記法", 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）"
      = f.text_area :description, :size => '70x10'
    %h4 プレビュー
    :javascript
       wmd_options = {
         output: "Markdown"
       }
    .wmd-preview
    = javascript_include_tag 'wmd/wmd'
    %p
      = f.submit '利用規約に同意して依頼する'
      = link_to '利用規約', about_terms_path, :target => '_blank'
