- form_for problem do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :category, '', :for => 'problem_category_id'
    %span= "（#{link_to '詳細', about_category_path}）"
    %br
    = select_by_model problem, :category_id
  %p
    = f.label :tag_list
    %br
    = f.text_field :tag_list
  %p
    = f.label :language, '', :for => 'problem_language_id'
    %br
    = select_by_model problem, :language_id
  %p
    = f.label :license, '', :for => 'problem_license_id'
    %span= "（#{link_to '詳細', about_license_path}）"
    %br
    = select_by_model problem, :license_id
  %p
    = f.label :bounty
    %br
    = f.text_field :bounty
    = t('number.currency.format.unit')
  %p
    = f.label :description
    %span= "（#{link_to "Markdown記法", 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）"
    %br
    = f.text_area :description, :size => '70x10'
  %h4 プレビュー
  :javascript
     wmd_options = {
       output: "Markdown"
     }
  .wmd-preview
  = javascript_include_tag 'wmd/wmd'
  %p
    = f.submit "送信"
    = link_to '戻る', problems_path
