- add_title = params[:category] ? " - " + t("label.category.#{@category.name}") : ''
- add_class = params[:category] ? ' ' + @category.name : ''
%div{:class => "content#{add_class}"}
  %h2= "問題#{add_title}"
%ul.problems
  = render :partial => 'object', :collection => @problems
  = will_paginate(@problems)
