- title "#{@problem.title} - #{t('application.title')}"
- div_class = "problem content " + @problem.category.name
- div_class += ' solved' if @problem.solved?
- div_class += ' free' if @problem.bounty == 0
- content_for :header_script do
  = javascript_include_tag 'application'
%div{:class => div_class}
  .main
    .title
      .good{:onclick => "$('#problem_#{@problem.id}_vote_form').toggle()"}
        %ul
          %li.count{:id => "problem_#{@problem.id}_good"}= @problem.votes.size
      %h2= @problem.title
      - form_for @problem.votes.new(:comment => good_problem_retweet(@problem)), :html => {:onsubmit => "return vote(this, '#problem_#{@problem.id}_good');", :id => "problem_#{@problem.id}_vote_form", :style => 'display:none'} do |f|
        .text
          = f.hidden_field :voteable_id, :id => "problem_#{@problem.id}_voteable_id"
          = f.hidden_field :voteable_type, :id => "problem_#{@problem.id}_voteable_type"
          = f.text_field :comment, :id => "problem_#{@problem.id}_comment"
        - if logged_in?
          .button= image_submit_tag 'good_button.gif'
        - else
          .button= link_to 'Retweet', login_path
        %p.center Retweetをすることで、この質問にGood!ポイントが加算されます
    %dl.information
      %dd.licence=link_to t("label.license.#{@problem.license.name}"), "#{about_license_path}##{@problem.license.name}"
      %dt.licence ライセンス
    .description~markdown @problem.description
    %ul.tags
      - @problem.tags.each do |tag|
        %li.tag=link_to h(tag.name), problems_by_tag_path(:tag => tag.name)
    - if logged_in? and @problem.user.id == current_user.id
      %ul.loggedin
        %li.edit= link_to 'この質問を編集', edit_problem_path(@problem)
        %li.delete= link_to 'この質問を削除', @problem, :confirm => '本当に削除してよろしいですか？', :method => :delete
  .sub
    .information
      %dl
        %dt.language プログラム言語
        %dd.language=link_to t("label.language.#{@problem.language.name}"), problems_by_tag_path(:tag => @problem.language.name)
        %dt.category 問題カテゴリー
        %dd.category{:class => @problem.category.name}
          = link_to t("label.category.#{@problem.category.name}"), problems_by_category_path(:category => @problem.category.name)
        %dt.bounty 報酬
        %dd.bounty
          %span= number_to_currency @problem.bounty
      %ul.retweet
        %li.count= @problem.votes.size
        %li.label retweet
      %ul.answer
        %li.count= @problem.answers.size
        %li.label 回答
      .person
        %h4 出題者
        %ul
          %li.icon=link_to image_tag(@problem.user.profile_image_url), user_path(@problem.user)
          %li.name=link_to @problem.user.login, user_path(@problem.user)
      .created_at== #{time_ago_in_words @problem.created_at}前
  - unless @answers.empty?
    .section
      %h3 回答一覧
      %ul.answers
        - @answers.each do |answer|
        - padding = answer.correct ? ' correct' : ''
          %li{:id => "answer-#{answer.id}", :class => "answer#{padding}"}
            .hacker
              .good{:onclick => "$('#answer_#{answer.id}_vote_form').toggle()"}
                %ul.good
                  %li.count= answer.votes.size
                  %li.label Good
              .user
                %h4 回答者
                %ul.user
                  %li.icon=link_to image_tag(answer.user.profile_image_url), user_path(answer.user)
                  %li.name=link_to answer.user.login, user_path(answer.user)
                  - unless @problem.solved?
                    %li.correct
                      - form_for answer do |f|
                        = hidden_field_tag 'answer[correct]', true
                        = image_submit_tag 'choice_button.gif'
                  %li.thanks
                    = render :partial => 'payment_button', :locals => {:problem => @problem, :answer => answer}
            - form_for answer.votes.new(:comment => good_answer_retweet(answer)), :html => {:onsubmit => "return vote(this, '.answer ul.good li.count')", :id => "answer_#{answer.id}_vote_form", :style => 'display:none'} do |f|
              .text
                = f.hidden_field :voteable_id, :id => "answer_#{answer.id}_voteable_id"
                = f.hidden_field :voteable_type, :id => "answer_#{answer.id}_voteable_type"
                = f.text_field :comment, :id => "answer_#{answer.id}_comment"
              - if logged_in?
                .button= image_submit_tag 'good_button.gif'
              - else
                .button= link_to 'Retweet', login_path
              %p.center Retweetをすることで、この質問にGood!ポイントが加算されます
            .description~markdown answer.description
            - if logged_in? and answer.user.id == current_user.id
              %ul.loggedin
                %li.edit= link_to 'この回答を編集', edit_answer_path(answer)
                %li.delete= link_to 'この回答を削除', answer, :confirm => '本当に削除してよろしいですか？', :method => :delete
  = will_paginate(@answers)
  .section.post
    %h3 回答する
    %span== （#{link_to 'Markdown記法', 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）
    - form_for @answer do |f|
      = f.error_messages
      = f.hidden_field :problem_id
      = f.text_area :description, :size => '70x10'
      %h4 プレビュー
      .wrapper
        :javascript
          wmd_options = {
            output: "Markdown"
          }
        .wmd-preview
      %p
        = f.submit '利用規約に同意して回答する'
        = link_to '利用規約', about_terms_path, :target => '_blank'
- content_for :footer_script do
  = javascript_include_tag 'wmd/wmd'
