- title "#{@problem.title} - #{t('application.title')}"
.content
  .problem
    .title
      %h2= @problem.title
      .person
        %h3.icon=link_to image_tag(@problem.user.profile_image_url), user_path(@problem.user)
        %ul
          %li="出題者"
          %li.name=link_to @problem.user.login, user_path(@problem.user)
      %dl.information
        %dt 言語
        %dd=link_to t("label.language.#{@problem.language.name}"), @problem.language.name
        %dt ライセンス
        %dd=link_to t("label.license.#{@problem.license.name}"), @problem.license.name
    .description~markdown @problem.description
    .data
      .user
        %h4= link_to t("label.category.#{@problem.category.name}"), ''
        %dl.bounty
          %dt="報酬"
          %dd
            %span= number_to_currency @problem.bounty
      %ul.answer
        %li.count= @problem.answers.size
        %li.label="回答"
      %ul.view
        %li.count= @problem.view
        %li.label="閲覧"
    %ul.tags
      - @problem.tags.each do |tag|
        %li.tag=link_to h(tag)
    - if logged_in? and @problem.user.id == current_user.id
      .edit= link_to '編集', edit_problem_path(@problem)
      .delete= link_to '削除', @problem, :confirm => '本当に削除してよろしいですか？', :method => :delete
  .section
    %h3 回答一覧
    %ul.answers
      - @answers.each do |answer|
      - padding = answer.correct ? ' correct' : ''
        %li{:class => "answer#{padding}"}
          .description~markdown answer.description
          %ul.user
            %li.icon=link_to image_tag(answer.user.profile_image_url), user_path(answer.user)
            %li.name=link_to answer.user.login, user_path(answer.user)
            - unless @problem.solved?
              %li.correct
                - form_for answer do |f|
                  = hidden_field_tag 'answer[correct]', true
                  = submit_tag 'この回答を正解とする'
            %li.thanks
              = render :partial => 'payment_button', :locals => {:problem => @problem, :answer => answer}
          - if logged_in? and answer.user.id == current_user.id
            .edit= link_to '編集', edit_answer_path(answer)
            .delete= link_to '削除', answer, :confirm => '本当に削除してよろしいですか？', :method => :delete
  = will_paginate(@answers)
  .section
    %h3 回答する
    %span= "（#{link_to "Markdown記法", 'http://blog.2310.net/archives/6', :target => '_blank'} が使えます）"
    - form_for @answer do |f|
      = f.error_messages
      = f.hidden_field :problem_id
      = f.text_area :description, :size => '70x10'
      %h4 プレビュー
      :javascript
        wmd_options = {
          output: "Markdown"
        }
      .wmd-preview
      = javascript_include_tag 'wmd/wmd'
      %p
        = f.submit "回答する"
