= javascript_include_tag 'http://a.t.webtracker.jp/js/a.js'
.section.ad
  %div{:class => "ad_frame sid_b246ad0c3bf7fca1f506aa0fc8c658b3 container_div color_#0000CC-#444444-#FFFFFF-#0000FF-#009900"}
.section
  %dl
    %dt 人気の言語
    %dd
      %ul.languages.count_by_language
        - User.count_by_language.each do |language|
          %li.language
            =link_to "#{t("label.language.#{language.name}")} (#{language.cnt})", users_by_language_path(:language => language.name)
.section
  %dl
    %dt 人気のエディタ
    %dd
      %ul.editors.count_by_editor
        - User.count_by_editor.each do |editor|
          %li.editor
            =link_to "#{t("label.editor.#{editor.name}")} (#{editor.cnt})", users_by_editor_path(:editor => editor.name)
.section
  %dl
    %dt 出身別ユーザー数
    %dd
      %ul.states.count_by_state
        - User.count_by_state.each do |state|
          %li.state
            =link_to "#{t("label.state.#{state.name}")} (#{state.cnt})", users_by_state_path(:state => state.name)
