- if controller_name == 'users_show'
  %h3
    %span.icon= image_tag(user.profile_image_url)
- else
  %h3
    %a{:href => user_path(user), :class => 'clearfix'}
      %span.icon= image_tag(user.profile_image_url)
      %span.name= user.login
- if user.state
  %dl.state
    %dt出身
    %dd.state= t("label.state.#{user.state.name}")

.counts.solved_unsolved
  %ul.solved
    %li.count= user.comments.correct.size
    %li.label='解決タスク'
  %ul.tasks
    %li.count= user.tasks.size
    %li.label='登録タスク'
%dl.information
  %dt.favorite_language 好きなプログラム言語
  %dd.favorite_language
    - if user.language
      = link_to t("label.language.#{user.language.name}"), users_by_language_path(:language => user.language.name), :class => 'sub_button'
    - else
      %span.unselected プログラム言語 : 未選択
  %dt.favorite_language 好きなエディタ
  %dd.editor
    - if user.editor
      = link_to t("label.editor.#{user.editor.name}"), users_by_editor_path(:editor => user.editor.name), :class => 'sub_button'
    - else
      %span.unselected エディタ : 未選択

%dl.bounty
  %dt 合計獲得金額
  %dd
    %span= number_to_currency user.total_prize
  %dt 合計支払い金額
  %dd
    %span= number_to_currency user.total_payment
