.title
  %h2= users_title
- if params[:language]
  .by_language= t("label.language.#{@language.name}")
- if params[:editor]
  .by_editor= t("label.editor.#{@editor.name}")
- if params[:state]
  .by_state= t("label.state.#{@state.name}")
.content
  - if @users.empty?
    %p 該当するユーザーがいません。
  - else
  %ul.users
    - @users.each do |user|
      %li.user.performance
        = render :partial => 'user', :locals => {:user => user}
  = will_paginate(@users)
