.section
  %h3 言語別タスク数
  %ul.tasks_by_language
    - Task.by_language.each do |language|
      %li.language=link_to "#{t("label.language.#{language.name}")} (#{language.cnt})", tasks_by_language_path(:language => language.name)
  .to_archive
.section
  %h3 カテゴリー別タスク数
  %ul.categories
    - Task.by_category.each do |category|
      %li.category=link_to "#{t("label.category.#{category.name}")} (#{category.cnt})", tasks_by_category_path(:category => category.name)
  .to_archive
    %p=link_to 'カテゴリーの説明', about_category_path
.section
  %h3 ヒント
  %ul
    %li
      %p Help me, hackers!は「プログラム開発の依頼と解決のプラットフォーム」でもあります。プログラマーにとって解決したくなるようなコンピューター上の課題が集まるコミュニティを目指しています。
    %li
      %p あなたの会社のBTSに塩漬けになってるタスクがありませんか？
      %p Help me, hackers!に載せたら誰かが一瞬で解決しちゃうかも？
    %li
      %p 勉強がてらプログラミングするも良し。賞金稼ぎを狙うも良し。
    %li
      %p== #{link_to 'アカウント修正ページ', edit_account_path}では好きな言語を登録して下さい。仕事で得意な言語ではなく、心の言語を一つだけ。
    %li
      %p ジャンクフード食系男子募集中！
    %li
      %p 解決してもらうコツはプログラマーにとって面白いタスク設定にすること。前提とゴールは明確に。
  .to_archive
    %p=link_to 'もっと詳しく', about_hint_path
