- form_for(project) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :description
    %br
    = f.text_area :description, :size => '60x5'
  %p
    = f.label :website_url
    %br
    = f.text_field :website_url, :size => 60
  %p
    = f.label :repository_path
    %br
    = f.text_field :repository_path, :size => 60
  %p
    = f.submit '送信'
