.section.post
  - form_for(project) do |f|
    = f.error_messages
    %div.section
      = f.label :name
      %br
      = f.text_field :name
    %div.section
      = f.label :description
      == （#{link_to 'Markdown記法'}が使えます）
      %br
      = f.text_area :description, :size => '60x5'
    %h3 プレビュー
    .wrapper
      .preview
    %div.section
      = f.label :website_url
      （オプション）
      %br
      = f.text_field :website_url, :size => 60
    %div.section
      = f.label :repository_path
      （オプション）
      %br
      = f.text_field :repository_path, :size => 60
    %div.section
      = f.submit '送信'
- content_for :footer_script do
  = javascript_include_tag 'markedit/showdown'
  = javascript_include_tag 'markedit/markedit.lang.ja'
  = javascript_include_tag 'markedit/jquery.markedit'
  = javascript_include_tag 'mk'
