.title
  %h2 カテゴリー
.content.about
  %h3= t('label.category.software-making')
  %p デスクトップアプリケーションやWebアプリケーションなど。
  %h3= t('label.category.library-making')
  %p ライブラリ。目的をはっきり示すとやりやすい。
  %h3= t('label.category.class-function-making')
  %p ライブラリまで行かない、その場でテキストで示せる程度のクラスや関数。
  %h3= t('label.category.plugin-making')
  %p WordPressやRailsなど、何のプラグイかを明記。バージョンなどもあればなお良い。
  %h3= t('label.category.prototype-making')
  %p プロトタイプ目的（RubyでOAuthが使えるかの検証など）がはっきりしていると分り易い。
  %h3= t('label.category.debugging')
  %p バグ修正。依頼側はソースコードを公開していると直す方はやりやすい。
  %h3= t('label.category.technology-study')
  %p 調査結果として何を成果物として欲しいのかを明記するとやってもらえる確率が上がると思います。
  %h3= t('label.category.software-multilingualization')
  %p 何語に対応するのか明記すると良い。
  %h3= t('label.category.document-translation')
  %p 依頼文に翻訳してもらいたい全文を明記すると便利。
  %h3= t('label.category.data-collection-and-making')
  %p データ入力作業なども含む。
  %h3= t('label.category.programming-quiz')
  %p 力試し

