.title
  %h2 ライセンス
.content.about
  %a{:name => 'gpl2'}
  %h3= t('label.license.gpl2')
  %blockquote
    %p=link_to 'GNU General Public License - Wikipedia', 'http://ja.wikipedia.org/wiki/GNU_General_Public_License'
    %p GPLは、プログラムの著作物の複製物を所持している者に対し、概ね以下のことを許諾するライセンスである。
    %ol
      %li プログラムの実行
      %li プログラムの動作を調べ、それを改変すること（ソースコードへのアクセスは、その前提になる）
      %li 複製物の再頒布
      %li プログラムを改良し、改良を公衆にリリースする権利（ソースコードへのアクセスは、その前提になる）
    %p バージョン2
    %p 1990 年までには、一部のソフトウェア・ライブラリに対して制限の緩いライセンスのほうが戦略的に有効なことが、明らかになってきた。1991年6 月にGPL第2版がリリースされたとき、第2のライセンス、つまりLibrary General Public License (LGPL) が、(相補的なことを示すため第2版として) 同時に導入された。GNUの哲学における位置づけを反映させるため、Lesser General Public Licenseと名を変え、1999 年、LGPLの2.1がリリースされた。
    %p リチャード・ストールマンによれば、GPLv2で最大の変更は第7節、彼に言わせると「自由かしからずんば死」の文節である。他の利用者の自由を尊重するような方法でのGPLで保護されたソフトウェアの頒布が禁止されるような場合（たとえば、法的規制によりソフトウェアをバイナリー形式でしか頒布できないとき）、この節に従えば、頒布は一切できない。
  %ul
    %li=link_to 'GNU General Public License', 'http://www.gnu.org/licenses/gpl.html'
    %li=link_to 'GNU 一般公衆利用許諾契約書（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%2FGNU_General_Public_License' 
  %a{:name => 'gpl3'}
  %h3= t('label.license.gpl3')
  %blockquote
    %p=link_to 'GNU General Public License - Wikipedia', 'http://ja.wikipedia.org/wiki/GNU_General_Public_License'
    %p GPLは、プログラムの著作物の複製物を所持している者に対し、概ね以下のことを許諾するライセンスである。
    %ol
      %li プログラムの実行
      %li プログラムの動作を調べ、それを改変すること（ソースコードへのアクセスは、その前提になる）
      %li 複製物の再頒布
      %li プログラムを改良し、改良を公衆にリリースする権利（ソースコードへのアクセスは、その前提になる）
    %p バージョン3
    %p 2007年6月29日（米国時間）Free Software Foundation（FSF）がGPL3を発表した。 GNU GPL3 は、ソフトウエアの権利、義務、プログラム提供者のもつ特許の使用など基本理念を明文化したライセンス体系となっている。
    %p 初稿で提案された重要な変更のストールマンによる要約には、ソフトウェア特許、フリーソフトウェア・ライセンス、両立性、ソース・コードの定義、 "DRM" （デジタル著作権管理） がある。その他の目立った変更には、「TiVo化」への防御、貢献者による追加の制限や要件がある。このなかに、ときどきAffero節とも呼ばれる追加制限がある。このねらいは、ウェブ公開のループホールを埋めることで、この追加制限の許可は、AGPLと両立するようなGPL3の修正の許可を意味する。
    %p 2006年1月、FSFはGPLの変更を視野に入れた公開協議を始めた。このプロセスは、Free Software Foundation、Software Freedom Law Center、Free Software Foundation Europeらでまわされている。 "gplv3.fsf.org" のウェブ・ポータルで公衆からのコメントを集めている。このポータルは、 stet(校正で朱書きするイキのこと) で書いてあるソフトウェアで目的を果たしている。
  %ul
    %li=link_to 'GNU General Public License v3', 'http://www.gnu.org/licenses/gpl-3.0.html'
    %li=link_to 'GNU 一般公衆利用許諾書 バージョン３（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%252FGNU_General_Public_License_version_3.0'
  %a{:name => 'lgpl'}
  %h3= t('label.license.lgpl')
  %blockquote
    %p=link_to 'GNU Lesser General Public License - Wikipedia', 'http://ja.wikipedia.org/wiki/GNU_Lesser_General_Public_License'
    %ul
      %li 社内や個人的に利用するにあたってのソースコード改変、再コンパイルには制限がない。
      %li LGPLで配布されたプログラムを再配布する際にはソースコードを公開する必要がある。
    %p LGPLライセンスで配布されたライブラリAについて、
    %ul
      %li  ライブラリAにリンクしたプログラムBを配布する場合、Bのライセンスにリバースエンジニアリングを禁止する条項を含めてはならない。(LGPLv2-6、 LGPLv3-4)[1]
      %li ライブラリAに静的リンクしたプログラムBを配布する場合、Bのソースコードまたはオブジェクトコードの配布を拒否してはならない。(LGPLv2-6a、LGPLv3-4d0)
      %li ライブラリAを改変して作成されたライブラリA'を配布する場合、A'のライセンスはLGPLまたはGPLである必要がある。
  %ul
    %li=link_to 'GNU Lesser General Public License', 'http://www.gnu.org/copyleft/lesser.html'
    %li=link_to 'GNU 劣等一般公衆利用許諾契約書 バージョン2.1（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%2FGNU_Library_or_Lesser_General_Public_License'
  %a{:name => 'bsd'}
  %h3= t('label.license.bsd')
  %blockquote
    %p=link_to 'BSDライセンス - Wikipedia', 'http://ja.wikipedia.org/wiki/BSD%E3%83%A9%E3%82%A4%E3%82%BB%E3%83%B3%E3%82%B9'
    %p 「無保証」であることの明記と著作権およびライセンス条文自身の表示を再頒布の条件とするライセンス規定。 この条件さえ満たせば、BSDライセンスのソースコードを複製・改変して作成したオブジェクトコードを、ソースコードを公開せずに頒布できる。
    %p 著作権表示、ライセンス条文、無保証の旨の三点をドキュメント等に記載さえしておけば、BSDライセンスのソースコードを他のプログラムに組み込み、しかも組み込み後のソースコードを非公開にできるため、再配布時のライセンス条件を制限するGPLに比べ、商用化及び標準規格の制定に利用しやすいライセンスである。
  %ul
    %li=link_to 'The BSD License', 'http://www.opensource.org/licenses/bsd-license.php'
    %li=link_to 'BSDライセンス（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%2Fnew_BSD_license'
  %a{:name => 'mit'}
  %h3= t('label.license.mit')
  %blockquote
    %p=link_to 'MIT License - Wikipedia', 'http://ja.wikipedia.org/wiki/MIT_License'
    %p 要約すると、MIT Licenseとは次のようなライセンスである。
    %ol
      %li このソフトウェアを誰でも無償で無制限に扱って良い。但し、著作権表示および本許諾表示を、ソフトウェアのすべての複製または重要な部分に記載しなければならない。
      %li 作者または著作権者は、ソフトウェアに関してなんら責任を負わない。
  %ul
    %li=link_to 'The MIT License', 'http://www.opensource.org/licenses/mit-license.php'
    %li=link_to 'The MIT License（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%2FMIT_license'
  %a{:name => 'apache'}
  %h3= t('label.license.apache')
  %blockquote
    %p=link_to 'Apache License - Wikipedia', 'http://ja.wikipedia.org/wiki/Apache_License'
    %p 他のフリーソフトウェア向けライセンスと同様、Apache License ではユーザーがそのソフトウェアの使用/頒布/修正、派生版の頒布をすることを制限しない。
    %p Apache License は、頒布される二次的著作物が同じライセンスで提供されたり、フリー/オープンソースソフトウェアとして頒布されることを要求しない。要求するのは、ユーザーがそのソフトウェアに Apache License のコードが使われていることを知らせる文言を入れることだけである。従って、コピーレフトライセンスと異なり、Apache License コードの二次創作物のユーザーには、フリーなライセンスが適用されない可能性もある。
    %p ライセンスされたファイルそれぞれに元々ある著作権と特許権の記述はそのまま保持されなければならず、何らかの修正が施されている場合は、その旨を追加記述しなければならない。
  %ul
    %li=link_to 'Apache Licenses', 'http://www.apache.org/licenses/'
    %li=link_to 'Apache Licenses（日本語訳）', 'http://sourceforge.jp/projects/opensource/wiki/licenses%2FApache_License_2.0'
  %a{:name => 'public-domain'}
  %h3= t('label.license.public-domain')
  %blockquote
    %p=link_to 'パブリックドメインソフトウェア - Wikipedia', 'http://ja.wikipedia.org/wiki/%E3%83%91%E3%83%96%E3%83%AA%E3%83%83%E3%82%AF%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2'
    %p パブリックドメインソフトウェア (public domain software, PDS) とは、著作権を放棄した上で配布されるソフトウェアのことである。
    %p 主にネットワークで流通するソフトウェアで使われる。著作者によりその著作権が放棄されているがゆえに、利用者は著作権による制限なしにソフトウェアを利用することができる。ソースコードの入手が可能な場合は、それを元に改変した上で、改変後のものを頒布することも可能である。
  %a{:name => 'cc-attribution'}
  %h3= t('label.license.cc-attribution')
  %blockquote
    %p=link_to 'Creative Commons — 表示 2.1 日本', 'http://creativecommons.org/licenses/by/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %p あなたの従うべき条件は以下の通りです。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
  %ul
    %li=link_to 'Creative Commons — Attribution 2.1 Japan', 'http://creativecommons.org/licenses/by/2.1/jp/deed.en'
  %a{:name => 'cc-attribution-share-alike'}
  %h3= t('label.license.cc-attribution-share-alike')
  %blockquote
    %p=link_to 'Creative Commons — 表示-継承 2.1 日本', 'http://creativecommons.org/licenses/by-sa/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
      %li 継承 — もしあなたがこの作品を改変、変形または加工した場合、あなたはその結果生じた作品をこの作品と同一の許諾条件の下でのみ頒布することができます。
  %ul
    %li=link_to 'Creative Commons — Attribution-Share Alike 2.1 Japan', 'http://creativecommons.org/licenses/by-sa/2.1/jp/deed.en'
  %a{:name => 'cc-attribution-no-derivatives'}
  %h3= t('label.license.cc-attribution-no-derivatives')
  %blockquote
    %p=link_to 'Creative Commons — 表示-改変禁止 2.1 日本', 'http://creativecommons.org/licenses/by-nd/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
      %li 改変禁止 — あなたはこの作品を改変、変形または加工してはなりません。
  %ul
    %li=link_to 'Creative Commons — Attribution-No Derivative Works 2.1 Japan', 'http://creativecommons.org/licenses/by-nd/2.1/jp/deed.en'
  %a{:name => 'cc-attribution-non-commercial'}
  %h3= t('label.license.cc-attribution-non-commercial')
  %blockquote
    %p=link_to 'Creative Commons — 表示-非営利 2.1 日本', 'http://creativecommons.org/licenses/by-nc/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
      %li 非営利 — あなたはこの作品を営利目的で利用してはなりません。
  %ul
    %li=link_to 'Creative Commons — Attribution-Noncommercial 2.1 Japan', 'http://creativecommons.org/licenses/by-nc/2.1/jp/deed.en'
  %a{:name => 'cc-attribution-non-commercial-share-alike'}
  %h3= t('label.license.cc-attribution-non-commercial-share-alike')
  %blockquote
    %p=link_to 'Creative Commons — 表示-非営利-継承 2.1 日本', 'http://creativecommons.org/licenses/by-nc-sa/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
      %li 非営利 — あなたはこの作品を営利目的で利用してはなりません。
      %li 継承 — もしあなたがこの作品を改変、変形または加工した場合、あなたはその結果生じた作品をこの作品と同一の許諾条件の下でのみ頒布することができます。
  %ul
    %li=link_to 'Creative Commons — Attribution-Noncommercial-Share Alike 2.1 Japan', 'http://creativecommons.org/licenses/by-nc-sa/2.1/jp/deed.en'
  %a{:name => 'cc-attribution-non-commercial-no-derivatives'}
  %h3= t('label.license.cc-attribution-non-commercial-no-derivatives')
  %blockquote
    %p=link_to 'Creative Commons — 表示-非営利-改変禁止 2.1 日本', 'http://creativecommons.org/licenses/by-nc-nd/2.1/jp/'
    %p あなたは以下の条件に従う場合に限り、自由に
    %ul
      %li 本作品を複製、頒布、展示、実演することができます。
      %li 二次的著作物を作成することができます。
    %ul
      %li 表示 — あなたは原著作者のクレジットを表示しなければなりません。
      %li 非営利 — あなたはこの作品を営利目的で利用してはなりません。
      %li 改変禁止 — あなたはこの作品を改変、変形または加工してはなりません。
  %ul
    %li=link_to 'Creative Commons — Attribution-Noncommercial-No Derivative Works 2.1 Japan', 'http://creativecommons.org/licenses/by-nc-nd/2.1/jp/deed.en'
