<p>
  <b>Vote:</b>
  <%=h @vote.vote %>
</p>

<p>
  <b>Voteable:</b>
  <%=h @vote.voteable_id %>
</p>

<p>
  <b>Voteable type:</b>
  <%=h @vote.voteable_type %>
</p>

<p>
  <b>User:</b>
  <%=h @vote.user %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>