!!! XML
!!!
%html{:'xml:lang' => 'ja', :lang => 'ja'}
  %head
    %meta{:name => 'description', :content => yield(:description) || t('application.description')}
    %meta{:name => 'keywords', :content => yield(:keywords) || t('application.keywords')}
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %title= yield(:title) || t('application.title')
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    = stylesheet_link_tag 'reset', :media => 'screen'
    = stylesheet_link_tag 'basic', :media => 'screen'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    - header_script = yield(:header_script)
    - if header_script
      = header_script
  %body
    #header
      %h1= link_to 'Help me, hackers!', root_path
      .nav
        %ul
          - if logged_in?
            %li
              = link_to image_tag(current_user.profile_image_url, :size => '16x16', :style => 'vertical-align:middle')
              = link_to "#{current_user.login}(#{current_user.voted_count})", dashboard_path
            %li= link_to 'アカウント', edit_account_path
            %li= link_to 'ログアウト', logout_path
          - else
            %li= link_to 'Twitterでログイン', login_path
    #wrapper{:class => "#{controller_name}_#{action_name}"}
      .nav
        %ul
          - if logged_in?
            %li= link_to_unless_current_with_span 'ダッシュボード', dashboard_path
          %li= link_to_unless_current_with_span 'タスク', tasks_path
          %li= link_to_unless_current_with_span 'ユーザー', users_path
          %li= link_to_unless_current_with_span 'プロジェクトを登録', new_project_path
          %li.add_task= link_to 'タスク登録', new_task_path
      #main
        #flash
          - unless flash.empty?
            - if flash[:notice].present?
              = content_tag :div, flash[:notice],  :class => 'notice'
            - if flash[:warning].present?
              = content_tag :div, flash[:warning], :class => 'warning'
            - if flash[:error].present?
              = content_tag :div, flash[:error],   :class => 'error'
        = yield
      #sub
        - if controller_name == 'users'
          = render :partial => 'users/sub'
        - else
          = render :partial => 'shared/sub'
    #footer
      %ul.links
        %li= link_to '使い方', about_path
        %li= link_to 'ブログ', 'http://fjord.jp/tag/help-me-hackers'
        %li= link_to '開発予定', 'http://github.com/komagata/help-me-hackers/issues'
        %li= link_to '開発生放送（平日18:30〜19:00）', 'http://www.ustream.tv/channel/web%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9%E3%82%92%E4%BD%9C%E3%82%8B'
        %li= link_to '運営', 'http://fjord.jp/'
        %li= link_to '利用規約', about_terms_path
        %li= link_to 'お問い合わせ', 'http://fjord.jp/inquiry'
      %p.copyright== Copyright © #{link_to 'fjord,llc', 'http://fjord.jp'}. Created by #{link_to '@machida', 'http://twitter.com/machida'} and #{link_to '@komagata', 'http://twitter.com/komagata'}.<br />Help me, hackers! Version #{version}
    - if Rails.env.production?
      = render :partial => 'shared/google_analytics'
    - footer_script = yield(:footer_script)
    - if footer_script
      = footer_script
