.content
  %h2 アカウント編集
  - form_for @user, :url => account_path do |f|
    = f.error_messages
    %p
<<<<<<< HEAD:app/views/accounts/edit.html.haml
=======
      = f.label :profile_image_url
      %br
      = f.text_field :profile_image_url
    %p
>>>>>>> 11934da1e88fc7ca68bf8e4e94e71434236f0e9d:app/views/accounts/edit.html.haml
      = f.label :description
      %br
      = f.text_area :description, :size => '40x4'
    %p
      = f.label :state
      %br
      = select_by_model @user, :state_id
    %p
<<<<<<< HEAD:app/views/accounts/edit.html.haml
      = f.label :email
=======
      = "#{f.label:email}（Paypalで報酬を受け取るには公開する必要があります）"
>>>>>>> 11934da1e88fc7ca68bf8e4e94e71434236f0e9d:app/views/accounts/edit.html.haml
      %br
      = f.text_field :email
    %p
      = f.label :url
      %br
      = f.text_field :url
    %p
      = f.label :company
      %br
      = f.text_field :company
    %p
      = f.label :language, t('label.favorite-language')
      %br
      = select_programming_language @user, :language_id
    %p
      = f.label :github_account
      %br
      = f.text_field :github_account
    %p
      = f.label :ssh_public_key
      %br
      = f.text_area :ssh_public_key, :size => '40x4'
    %p
      = f.submit '編集'
