.title
  %h2 アカウント編集
.content
  .section.post
    - form_for @user, :url => account_path do |f|
      = f.error_messages
      %div.section
        = f.label :hacker
        = f.check_box :hacker
        %p.description ハッカー（問題解決者）として利用する場合チェック
      %div.section
        = f.label :hackee
        = f.check_box :hackee
        %p.description ハッキー（問題依頼者）として利用する場合チェック
      %div.section
        = f.label :state
        %br
        = select_by_model @user, :state_id
      %div.section
        = "#{f.label:email}（Paypalで報酬を受け取るには公開する必要があります）"
        %br
        = f.text_field :email
      %div.section
        = f.label :company
        %br
        = f.text_field :company
      %div.section
        = f.label :language, t('label.favorite-language')
        %br
        = select_programming_language @user, :language_id
      %div.section
        = f.label :github_account
        %br
        = f.text_field :github_account
      %div.section
        = f.label :ssh_public_key
        %br
        = f.text_area :ssh_public_key, :size => '40x4'
      %div.section
        = f.submit '編集'
