.title
  %h2 ダッシュボード
.content.about
  .lists
    .solved_problems.list
      %h3 投稿した問題
      - if @user.problems.count.zero?
        %p= t('label.nothing_posted_problems')
      - else
        %ul.problems
          - @user.problems.each do |problem|
            %li.problem=link_to h(problem.title), problem_path(problem)
    .posted_problems.list
      %h3 投稿した回答
      - if @user.hacks.count.zero?
        %p= t('label.nothing_posted_hacks')
      - else
        %ul.hacks
          - @user.hacks.each do |hack|
            %li.hack=link_to h(hack.problem.title), problem_path(hack.problem)
    .posted_hacks.list
      %h3 ウォッチしている問題
      %p= t('label.nothing_watching_problems')
  = render :partial => 'users/profile', :locals => {:user => @user}
  %ul.loggedin
    %li.edit= link_to 'プロフィールを編集する', edit_account_path
    %li.delete= link_to '会員情報を削除する', account_path, :confirm => '本当に退会してよろしいですか？', :method => :delete
