.title
  %h2= "#{@user.login}のダッシュボード"
.content
  %h3 投稿した問題
  - if @user.problems.count.zero?
    %p= t('label.nothing_posted_problems')
  - else
    %ul.problems
      - @user.problems.each do |problem|
        %li.problem=link_to h(problem.title), problem_path(problem)
  %h3 投稿した回答
  - if @user.answers.count.zero?
    %p= t('label.nothing_posted_answers')
  - else
    %ul.answers
      - @user.answers.each do |answer|
        %li.answer=link_to h(answer.problem.title), problem_path(answer.problem)
  %h3 ウォッチしている問題
  %p= t('label.nothing_watching_problems')
  %h3 プロフィール
  = render :partial => 'users/profile', :locals => {:user => @user}
  %ul
    %li= link_to '編集', edit_account_path
    %li= link_to '退会', account_path, :confirm => '本当に退会してよろしいですか？', :method => :delete
