.title
  %h2 ダッシュボード
.content.about
  .lists
    .add_task= link_to 'タスク登録', new_task_path

    .solved_tasks.profile_list
      %h3 登録したタスク
      - if @user.tasks.count.zero?
        %p= t('label.nothing_posted_tasks')
      - else
        %ul.tasks
          = render :partial => 'task', :collection => @user.tasks
    -# .posted_comments.profile_list
    -#  %h3 ウォッチしているタスク
    -#  %p= t('label.nothing_watching_tasks')
  %ul.loggedin
    %li.show= link_to 'プロフィールを見る', user_path(@user)
    %li.edit= link_to 'アカウント情報を編集する', edit_account_path
    %li.delete= link_to '会員情報を削除する', account_path, :confirm => '本当に退会してよろしいですか？', :method => :delete
