.title
  %h2 ダッシュボード
.content.about
  .lists
    .solved_problems.list
      %h3 登録したタスク
      - if @user.problems.count.zero?
        %p= t('label.nothing_posted_problems')
      - else
        %ul.problems
          = render :partial => 'task', :collection => @user.problems
    .posted_problems.list
      %h3 回答したタスク
      - if @user.hacks.count.zero?
        %p= t('label.nothing_posted_hacks')
      - else
        %ul.hacks
          - @user.hacks.each do |hack|
            %li.hack
              .title= link_to h(hack.problem.title), problem_path(hack.problem)
              .good= hack.problem.votes.size
              .comment= hack.problem.hacks.size
              - if hack.problem.bounty > 0
                .bounty= number_to_currency hack.problem.bounty
              .created_at== #{time_ago_in_words hack.problem.created_at}前
    .posted_hacks.list
      %h3 ウォッチしているタスク
      %p= t('label.nothing_watching_tasks')
  %ul.loggedin
    %li.show= link_to 'プロフィールを見る', user_path(@user)
    %li.edit= link_to 'アカウント情報を編集する', edit_account_path
    %li.delete= link_to '会員情報を削除する', account_path, :confirm => '本当に退会してよろしいですか？', :method => :delete
