.content
  %h2== #{@user.login}のダッシュボード
  = render :partial => 'users/solved_problems', :locals => {:user => @user}
  = render :partial => 'users/posted_problems', :locals => {:user => @user}
  = render :partial => 'users/posted_answers', :locals => {:user => @user}
  = render :partial => 'users/profile', :locals => {:user => @user}
  %ul
    %li= link_to '編集', edit_account_path
    %li= link_to '退会', account_path, :confirm => '本当に退会してよろしいですか？', :method => :delete
